<ul class="links">
  <li>
    <a href="http://{{ seomoz_host }}/campaigns">Campaign Manager</a>
  </li>
  <li class="active">
    <a href="http://{{ seomoz_host }}/tools">Research Tools</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/api">SEOmoz API</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/about/contact">Contact Us</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/pages/privacy">Privacy Policy</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/users/terms">Terms of Use</a>
  </li>
</ul>