<div class="nav-secondary">
  <ul class="clearfix">
    <li class="first">
      <a href="#">Campaign Manager</a>
    </li>
    <li class="active">
      <a href="#">Research Tools</a>
    </li>
    <li>
      <a href="#">SEOmoz API</a>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
    <li>
      <a href="#">Privacy Policy</a>
    </li>
    <li>
      <a href="#">Terms of Use</a>
    </li>
  </ul>
</div>
