<div class="social-links">
  <ul>
    <li>
      <a href="#" class="rss-link"></a>
    </li>
    <li>
      <a href="#" class="twitter-link"></a>
    </li>
    <li>
      <a href="#" class="facebook-link"></a>
    </li>
    <li>
      <a href="#" class="linkdin-link"></a>
    </li>
  </ul>
</div>

