<div id="moz-nav-header" class="advanced">
  <div class="oversight">
    {{> shared/logo }}
    {{> shared/logged_in_user_box }}
  </div>
  
  {{> advanced_header/nav_bar }}
  {{> shared/page_specifics }}
</div>

<div id="moz-nav-body" class="advanced">