<div class="basic-header">
  {{> header/blue_header }}

  <div class="header" id="header">
    {{> shared/logo }}
    {{> header/advanced_user_box }}
    <div class="cl"></div>
    {{> header/advanced_nav_bar }}
  </div>
</div>
