<div class="footer" id="footer">
  <div class="gray-bar-left"></div>
  <div class="gray-bar-right"></div>
  <div class="gray-bar-center">
    <div class="social-links">
      <ul>
        <li>
          <a href="#" class="rss-link"></a>
        </li>
        <li>
          <a href="#" class="twitter-link"></a>
        </li>
        <li>
          <a href="#" class="facebook-link"></a>
        </li>
        <li>
          <a href="#" class="linkdin-link"></a>
        </li>
      </ul>
    </div>
    <div class="copyrights">
      <p>Copyright &copy; 1996-2011 SEOmoz. All Rights Reserved.</p>
    </div>
    <div class="nav-secondary">
      <ul class="clearfix">
        <li class="first">
          <a href="#">Campaign Manager</a>
        </li>
        <li class="active">
          <a href="#">Research Tools</a>
        </li>
        <li>
          <a href="#">SEOmoz API</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
      </ul>
    </div>
    <div class="cl"></div>
  </div>
  <div class="cl"></div>
</div>

