<div id="moz-nav-header" class="advanced">
  {{> advanced_header/blue_header }}

  <div class="header" id="header">
    {{> shared/logo }}
    {{> shared/logged_in_user_box }}
    <div class="cl"></div>
    {{> advanced_header/nav_bar }}
  </div>
</div>
