<div id="moz-nav-header" class="basic">
  <div class="logo-bar">
    <div class="header-yellow inner-content clearfix">
      {{> shared/logo }}
      {{> basic_header/user_box }}
    </div>
  </div>
  {{> basic_header/nav_bar }}
</div>

