<div class="footer-blue-wrap">
  <div class="footer-blue">
    {{> basic_footer/try_column }}
    {{> basic_footer/product_column }}
    {{> basic_footer/company_column }}
    {{> basic_footer/popular_column }}
    {{> basic_footer/contact_column }}
    <div class="cl"></div>
  </div>
</div>

