<div id="moz-nav-header">
  <div class="user-box">
    <ol>
      <li><a href="#">Log in</a></li>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Help</a></li>
    </ol>
  </div>

  <div class="nav-bar">
    <ol>
      <li>Features</li>
      <li>Pricing &amp; Plans</li>
      <li>Community</li>
      <li>Learn SEO</li>
      <li>About</li>
    </ol>
  </div>
</div>

