<div id="moz-nav-footer" class="basic">
  <div class="container">
    {{> basic_footer/try_column }}
    {{> basic_footer/product_column }}
    {{> basic_footer/company_column }}
    {{> basic_footer/popular_column }}
    {{> basic_footer/contact_column }}
  </div>
</div>

