<div id="moz-nav-header">
  <div class="user-box">
    <ol>
      <li><a href="#">Log in</a></li>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Help</a></li>
    </ol>
  </div>

  <div class="nav-bar">
    <ol>
      <li><a href="http://{{ seomoz_host }}/PRO">Features</a></li>
      <li><a href="http://{{ seomoz_host }}/goPRO">Pricing &amp; Plans</a></li>
      <li><a href="http://{{ seomoz_host }}/blog">Community</a></li>
      <li><a href="http://{{ seomoz_host }}/learn-seo">Learn SEO</a></li>
      <li><a href="http://{{ seomoz_host }}/about">About</a></li>
    </ol>
  </div>
</div>

