{{# include_jquery? }}
<script type="text/javascript" src="/javascripts/moz_nav/jquery.js"></script>
{{/ include_jquery? }}

<script type="text/javascript"><!--//<![CDATA[
  $(function(){
    var menu_elements = $('#moz-nav-header .extended, #moz-nav-body .extended');
    
    $(menu_elements).click(function(){
      $(menu_elements).removeClass('focused');
      $(this).addClass('focused');
      return false;
    });
    
    $('body').click(function() {
      $(menu_elements).removeClass('focused');
    });
      
  });
//]]>--></script>

