{{# include_jquery? }}
<script type="text/javascript" src="{{ asset_path_prefix }}/moz_nav_assets/javascripts/jquery.js"></script>
{{/ include_jquery? }}

<script type="text/javascript"><!--//<![CDATA[
  $(function() {
    var menu_elements_selector = '#moz-nav-header .extended, #moz-nav-body .extended';
    var menu_elements = $(menu_elements_selector);
    var menu_element_descendent_selector = menu_elements_selector.replace(/extended/g, 'extended *');

    $(menu_elements).click(function(e) {
      var $target = $(e.target);
      var $this = $(this);
      var originally_focused = $this.hasClass('focused');
      $(menu_elements).removeClass('focused');

      if (!originally_focused) {
        $this.addClass('focused');
        return false;
      }
    });
    
    $('body').click(function(e) {
      var $target = $(e.target);
      if (!$target.is(menu_element_descendent_selector)) {
        $(menu_elements).removeClass('focused');
      }
    });

    $('a.zenbox-popup').click(function(e) {
      if (typeof Zenbox !== "undefined") {
        Zenbox.show();
        return false;
      }
    });
      
  });
//]]>--></script>

