<li>{{! Note: the zenbox-popup class should be considered part of MozNav's public API.
        The idea is that host apps can apply it to any link to have them popup
        the Zendesk feedback form. }}
  <a href="mailto:customerservice@seomoz.org" class="zenbox-popup">Feedback</a>
</li>
