 <div class="user-links">
  <ul>
    <li class="extended" id="my-account">
      {{# user }}
      <a href="http://{{ seomoz_host }}/users/view/{{ id }}">My Account</a>
      <ul>
        <li>
          <a href="http://{{ seomoz_host }}/users/profile/{{ id }}">View Profile</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/users/profile/edit">Edit Profile</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/users/settings">Edit Profile</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/messages">Private Messages(TODO)</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/users/my">Account Information</a>
        </li>
        <li>
          <a href="https://{{ seomoz_host }}/users/logout">Logout</a>
        </li>
      </ul>
      {{/ user }}
    </li>
    <li class="extended">
      <a href="http://{{ seomoz_host }}/about/contact">Help</a>
      <ul>
        <li>
          <a href="#">Feedback (TODO)</a>
        </li>
        <li>
          <a href="http://seomoz.zendesk.com/forums/293194-seomoz-PRO-feature-requests">Request a Feature</a>
        </li>
        <li>
          <a href="http://{{ q_and_a_host }}/q/">Q&amp;A</a>
        </li>
        <li class="last">
          <a href="http://{{ seomoz_host }}/about/contact">Contact us</a>
        </li>
      </ul>
    </li>
    
  </ul>
</div>