<div class="user-links">
  <ul>
    <li>
      <a href="https://{{ seomoz_host }}/users/login">Log in</a>
    </li>
    <li>
      <a href="https://{{ seomoz_host }}/users/register">Sign up</a>
    </li>
    <li class="extended">
      <a href="#">Help</a>
      <ul>
        {{> shared/feedback_link }}
        <li>
          <a href="http://seomoz.zendesk.com/forums/293194-seomoz-PRO-feature-requests">Request a Feature</a>
        </li>
        <li>
          <a href="http://{{ q_and_a_host }}/q/">Q&amp;A</a>
        </li>
        <li class="last">
          <a href="http://{{ seomoz_host }}/about/contact">Contact us</a>
        </li>
      </ul>
    </li>
    
  </ul>
</div>
