 <div class="user-links">
  <ul>
    {{# user }}
    <li id="display_name">
      <a href="http://{{ seomoz_host }}/users/profile/">{{display_name}}</a>
    </li>
    <li class="extended" id="my-account">
      <a href="#">My Account</a>
      <ul>
        <li>
          <a href="http://{{ seomoz_host }}/users/profile/">View Profile</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/users/profile/edit">Edit Profile</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/users/settings">Settings</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/messages">Private Messages{{#pm_unread_count}} ({{ pm_unread_count }}){{/pm_unread_count}}</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/users/my">Account Information</a>
        </li>
        <li>
          <a href="https://{{ seomoz_host }}/users/logout">Logout</a>
        </li>
      </ul>
    </li>
    {{/ user }}
    <li class="extended">
      <a href="#">Help</a>
      <ul>
        {{> shared/feedback_link }}
        <li>
          <a href="http://seomoz.zendesk.com/forums/293194-seomoz-PRO-feature-requests">Request a Feature</a>
        </li>
        <li>
          <a href="http://seomoz.zendesk.com/home">Help Desk</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/about/contact">Contact us</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
