<a class="logo" href="http://{{ seomoz_host }}/{{# user }}{{# pro? }}users/pro{{/ pro?}}{{/ user }}">
  <img alt="" src="{{ asset_path_prefix }}/moz_nav_assets/images/logo.png?{{ cache_buster }}" />
</a>
