{{# page_config }}
  {{# has_blue_header_content? }}
  <div class="page-specifics">
    {{> shared/blue_header }}

    {{# has_sub_nav_items? }}
      {{> advanced_header/sub_nav_bar }}
    {{/ has_sub_nav_items? }}
  </div>
  {{/ has_blue_header_content? }}
{{/ page_config }}
