<div class="page-specifics">
  {{> shared/blue_header }}

  {{# page_config }}
    {{# has_sub_nav_items? }}
      {{> advanced_header/sub_nav_bar }}
    {{/ has_sub_nav_items? }}
  {{/ page_config }}
</div>