<form class="search" action="http://{{ seomoz_host }}/pages/search_results" method="get">
  <div>
    <input checked="checked" type="text" class="text" name="q" />
    <input value="" type="submit" class="button" />
  </div>
</form>

