<form class="search" action="http://{{ seomoz_host }}/pages/search_results" method="get">
  <fieldset>
    <legend>Search SEOmoz</legend>
    <input type="text" name="q" /><input type="submit" value="Search" />
  </fieldset>
</form>