<form class="search" action="http://{{ seomoz_host }}/pages/search_results" method="get">
  <fieldset>
    <legend>Search SEOmoz</legend>
    <input type="text" name="q" /><input type="image" src="/images/moz_nav/btn-search.jpg" value="Submit" alt="Submit" />
  </fieldset>
</form>