<div class="social-links">
  <ul>
    <li>
      <a href="http://feeds.feedburner.com/seomoz" class="rss-link"></a>
    </li>
    <li>
      <a href="http://twitter.com/seomoz" class="twitter-link"></a>
    </li>
    <li>
      <a href="http://www.facebook.com/SEOmoz" class="facebook-link"></a>
    </li>
    <li>
      <a href="http://www.linkedin.com/groups?about=&gid=2976409&trk=anet_ug_grppro" class="linkedin-link"></a>
    </li>
  </ul>
</div>

