<ul class="social">
  <li>
    <a href="http://feeds.feedburner.com/seomoz" class="rss">RSS</a>
  </li>
  <li>
    <a href="http://twitter.com/seomoz" class="twitter">Twitter</a>
  </li>
  <li>
    <a href="http://www.facebook.com/SEOmoz" class="facebook">Facebook</a>
  </li>
  <li>
    <a href="http://www.linkedin.com/groups?about=&gid=2976409&trk=anet_ug_grppro" class="linkedin">LinkedIn</a>
  </li>
</ul>