<div class="heading-dropdown">
  <img alt="" src="/images/moz_nav/arrow-blue-down.png?{{ cache_buster }}" />
  <div class="help-menu">
    <ul>
      {{# campaigns }}
      <li>
        <a href="{{# campaign_overview_url }}{{ id }}{{/ campaign_overview_url }}">{{ name }}</a>
      </li>
      {{/ campaigns }}
      <li class="separation-border last">
        <a href="#">
          Campaign Manager
        </a>
      </li>
    </ul>
  </div>
</div>

