<ul class="campaigns">
  {{# campaigns }}
  <li>
    <a href="{{ url }}">{{ name }}</a>
  </li>
  {{/ campaigns }}
  <li class="campaign-manager">
    <a href="#">
      Campaign Manager
    </a>
  </li>
</ul>