<div class="navigation">
  
  <ul>
    <li class="dashboard"><a href="http://{{ seomoz_host }}/users/PRO">PRO Dashboard</a></li>
    <li class="campaigns"><a href="#">Campaigns</a></li>
    <li class="research">
      <a href="#">Research Tools</a>
      {{> advanced_header/sub_navs/research_tools }}
    </li>
    <li class="pro-qa"><a href="#">PRO Q&amp;A</a></li>
    <li class="community">
      <a href="#">Community</a>
      {{> advanced_header/sub_navs/community }}
    </li>
    <li class="learn-seo">
      <a href="#">Learn SEO</a>
      {{> advanced_header/sub_navs/learn_seo }}
    </li>
  </ul>
  
  {{> shared/search_form }}
  
</div>