<div class="user-controls">
  <div class="pro-dashboard-area">
    <a href="http://{{ seomoz_host }}/users/PRO" class="pro-dashboard">PRO Dashboard</a>
  </div>
  <div class="nav-wrap">
    <div class="gray-bar-left"></div>
    <div class="gray-bar-right"></div>
    <div class="gray-bar-center">
      {{> shared/search_form }}

      <ul class="nav">
        <li class="first campaigns">
          <a href="#">Campaigns</a>
        </li>
        {{> advanced_header/sub_navs/research_tools }}

        <li class="pro-qa">
          <a href="#">Q &amp; A</a>
        </li>

        {{> advanced_header/sub_navs/community }}
        {{> advanced_header/sub_navs/learn_seo }}
      </ul>
    </div>
  </div>
  <div class="cl"></div>
</div>
