<div class="navigation">
  
  <ul>
    <li><a href="http://{{ seomoz_host }}/users/PRO">PRO Dashboard</a></li>
    <li><a href="#">Campaigns</a></li>
    <li>
      <a href="#">Research Tools</a>
      {{> advanced_header/sub_navs/research_tools }}
    </li>
    <li><a href="#">PRO Q&amp;A</a></li>
    <li>
      <a href="#">Community</a>
      {{> advanced_header/sub_navs/community }}
    </li>
    <li>
      <a href="#">Learn SEO</a>
      {{> advanced_header/sub_navs/learn_seo }}
    </li>
  </ul>
  
  {{> shared/search_form }}
  
</div>