{{# page_config }}
  <ul class="subnav">
  {{# sub_nav_items }}
    {{> shared/menu_item }}
  {{/ sub_nav_items }}
  </ul>

  {{# active_sub_nav_item }}
    {{# has_sub_sub_nav_items? }}
    <ul class="sub-subnav">
      {{# sub_sub_nav_items }}
        {{> shared/menu_item }}
      {{/ sub_sub_nav_items }}
    </ul>
    {{/ has_sub_sub_nav_items? }}
  {{/ active_sub_nav_item }}
{{/ page_config }}
