<div>
  <div class="campaign-nav">
    {{> advanced_header/sub_navs/campaigns }}
  </div>
</div>
<div>
  <div class="campaign-sub-nav">
    <ul class="clearfix">
      <li class="first">
        <a href="#">Campaign Overview</a>
      </li>
      <li>
        <a href="#">Manage Keywords</a>
      </li>
      <li class="active">
        <a href="#">Campaign Settings</a>
      </li>
    </ul>
  </div>
</div>

