<div>
  <div class="campaign-nav">
    <ul class="clearfix">
    {{# page_config }}
    {{# sub_nav_items }}
      {{> advanced_header/sub_nav_item }}
    {{/ sub_nav_items }}
    {{/ page_config }}
    </ul>
  </div>
</div>
<div>
  <div class="campaign-sub-nav">
    <ul class="clearfix">
      <li class="first">
        <a href="#">Campaign Overview</a>
      </li>
      <li>
        <a href="#">Manage Keywords</a>
      </li>
      <li class="active">
        <a href="#">Campaign Settings</a>
      </li>
    </ul>
  </div>
</div>

