{{# user}}
<h3 class="user-welcome">
  <img alt="will_critchlow" src="/images/moz_nav/user-thumb.png?{{ cache_buster }}" class="user-thumb" />
  Aloha {{ display_name }}, lookin' good
  </h3>
{{/ user}}