<div>
  <div class="campaign-nav rel">
    {{# user}}
    <h3 class="user-name">Aloha {{ display_name }}, lookin' good</h3>
    {{/ user}}
    <img alt="" src="/images/moz_nav/user-thumb.png?{{ cache_buster }}" class="user-thumb" />
    <img alt="" src="/images/moz_nav/q-a-robot.png?{{ cache_buster }}" class="research-robot" />
  </div>
</div>
