<div class="user-controls">
  <div class="pro-dashboard-area">
    <a href="#" class="pro-dashboard">PRO Dashboard</a>
  </div>
  <div class="nav-wrap">
    <div class="gray-bar-left"></div>
    <div class="gray-bar-right"></div>
    <div class="gray-bar-center">
      <div class="s_form">
        <input checked="checked" type="text" class="s_field" />
        <input value="" type="submit" class="s_btn" />
      </div>

      <ul class="nav">
        <li class="first campaigns">
          <a href="#">Campaigns</a>
          <div class="sub-nav">
            <div class="sub-nav-top">
              <ul>
                <li>
                  <a href="#">Campaign</a>
                </li>
                <li>
                  <a href="#">Rankings</a>
                </li>
                <li>
                  <a href="#">Crawl Diagnostics</a>
                </li>
                <li>
                  <a href="#">On-page</a>
                </li>
                <li>
                  <a href="#">Link Analysis</a>
                </li>
                <li>
                  <a href="#">Traffic Data</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="research-tools">
          <a href="#">Research Tools</a>
          <div class="sub-nav">
            <div class="sub-nav-top">
              <ul>
                <li>
                  <a href="#">Overview</a>
                </li>
                <li>
                  <a href="#">Rankings</a>
                </li>
                <li>
                  <a href="#">Crawl Diagnostics</a>
                </li>
                <li>
                  <a href="#">On-page</a>
                </li>
                <li>
                  <a href="#">Link Analysis</a>
                </li>
                <li>
                  <a href="#">Labs Tools</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="pro-qa">
          <a href="#">PRO Q&amp;A</a>
        </li>
        <li class="community">
          <a href="#">Community</a>
          <div class="sub-nav">
            <div class="sub-nav-top">
              <ul>
                <li>
                  <a href="#">SEO Blog</a>
                </li>
                <li>
                  <a href="#">YOUmoz User Blog</a>
                </li>
                <li>
                  <a href="#">Top Users</a>
                </li>
                <li>
                  <a href="#">Events</a>
                </li>
                <li>
                  <a href="#">SEO Industry Jobs</a>
                </li>
                <li>
                  <a href="#">About SEOmoz</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="learn-seo">
          <a href="#">Learn SEO</a>
          <div class="sub-nav">
            <div class="sub-nav-top">
              <ul>
                <li>
                  <a href="#">PRO Webinars</a>
                </li>
                <li>
                  <a href="#">PRO Training DVDs</a>
                </li>
                <li>
                  <a href="#">PRO Training Seminars</a>
                </li>
                <li>
                  <a href="#">Beginners Guide</a>
                </li>
                <li>
                  <a href="#">Articles &amp; Guides</a>
                </li>
                <li>
                  <a href="#">Videos</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div><!--nav -->
  <div class="cl"></div>
</div><!--user-controls -->
