<div class="company">
  <h3>Company</h3>
  <ul>
    <li>
      <a href="http://{{ seomoz_host }}/about">About</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/blog">SEO Blog</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/ugc">YOUmoz Blog</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/dp/seomoz-pro-affiliate-program">Affiliate Program</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/pages/privacy">Privacy Policy</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/users/terms">Terms and Conditions</a>
    </li>
  </ul>
</div>
