<div class="company-col">
  <h3>Company</h3>
  <ul>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">SEO Blog</a>
    </li>
    <li>
      <a href="#">YOUmoz Blog</a>
    </li>
    <li>
      <a href="#">Affiliate Program</a>
    </li>
    <li>
      <a href="#">Privacy Policy</a>
    </li>
    <li>
      <a href="#">Terms and Conditions</a>
    </li>
  </ul>
</div>
