<div class="stay-in-touch">
  <h3>Stay in Touch</h3>
  <ul>
    <li>
      {{> shared/social_links }}
    </li>
    <li class="no-hover">
      {{> shared/address }}
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/about/contact">Contact Us</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/sitemap">Sitemap</a>
    </li>
  </ul>
</div>

