<div class="stay-touch-col">
  <h3>Stay in Touch</h3>
  <ul>
    <li>
      <ul class="social-links2">
        <li>
          <a href="#" class="rss-link"></a>
        </li>
        <li>
          <a href="#" class="twitter-link"></a>
        </li>
        <li>
          <a href="#" class="facebook-link"></a>
        </li>
        <li>
          <a href="#" class="linkedin-link"></a>
        </li>
      </ul>
    </li>
    <li>
      <address>
        SEOmoz
        <br />
        119 Pine St. Suite 400
        <br />
        Seattle, WA 98101
        <br />
        206.632.3171
      </address>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
    <li>
      <a href="#">Site Map</a>
    </li>
  </ul>
</div>

