<div class="popular">
  <h3>Popular Content</h3>
  <ul>
    <li>
      <a href="http://{{ seomoz_host }}/cat/view/Link%20Building">Link Building</a>
    </li>
    <li>
      <a href="#">Reputation Management</a>
    </li>
    <li>
      <a href="#">Analytics</a>
    </li>
    <li>
      <a href="#">Social Media</a>
    </li>
    <li>
      <a href="#">Content</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/sitemap">See All Categories</a>
    </li>
  </ul>
</div>

