<div class="popular">
  <h3>Popular Content</h3>
  <ul>
    <li>
      <a href="http://www.seomoz.org/blog/category/4">Link Building</a>
    </li>
    <li>
      <a href="http://www.seomoz.org/blog/category/19">Reputation Management</a>
    </li>
    <li>
      <a href="http://www.seomoz.org/blog/category/8">Analytics</a>
    </li>
    <li>
      <a href="http://www.seomoz.org/blog/category/18">Social Media</a>
    </li>
    <li>
      <a href="http://www.seomoz.org/blog/category/1">Content &amp; Blogging</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/blog">See All Categories</a>
    </li>
  </ul>
</div>

