<div class="products">
  <h3>Product and Tools</h3>
  <ul>
    <li>
      <a href="http://{{ seomoz_host }}/pro">Features</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/pro/plans">Pricing and Plans</a>
    </li>
    <li>
      <a href="http://www.opensiteexplorer.org/">Open Site Explorer</a>
    </li>
    <li class="active">
      <a href="http://{{ seomoz_host }}/seo-toolbar">SEO Toolbar</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/api">SEOmoz API</a>
    </li>
    <li>
      <a href="http://{{ seomoz_host }}/tools">More SEO Tools</a>
    </li>
  </ul>
</div>

