<div class="products-col">
  <h3>Product and Tools</h3>
  <ul>
    <li>
      <a href="#">Features</a>
    </li>
    <li>
      <a href="#">Pricing and Plans</a>
    </li>
    <li>
      <a href="#">SEOmoz PRO Web App</a>
    </li>
    <li>
      <a href="#">Open Site Explorer</a>
    </li>
    <li class="active">
      <a href="#">SEO Toolbar</a>
    </li>
    <li>
      <a href="#">SEOmoz API</a>
    </li>
  </ul>
</div>

