<div class="try">
  <h2>Voted Best SEO Tool 2010!</h2>
  
  <a href="http://{{ seomoz_host }}/cart/purchase_select" class="free-trial">
    <img alt="Try it for Free!" src="/images/moz_nav/try-it-for-free.png?{{ cache_buster }}" class="try-it-free" />
  </a>
  
  <h3>Looking for SEO consulting?</h3>
  
  <p class="consulting">SEOmoz doesn't provide consulting, but our friends at
    <a href="http://{{ seomoz_host }}/dp/distilled">Distilled</a> still do. Rock on!
  </p>
  
  {{> shared/copyright }}
</div>
