<div class="try-col">
  <h2>Voted Best SEO Tool 2010!</h2>
  <a href="#">
    <img alt="" src="/images/moz_nav/try-it-for-free.png" class="try-it-free" />
  </a>
  <h3>Looking for SEO consulting?</h3>
  <p>SEOmoz doesn"t provide consulting, but our friends at
    <a href="#">Distilled</a>still do. Rock on!
  </p>
  <p>Copyright &copy; 1996-2011 SEOmoz. All Rights Reserved.</p>
</div>
