<div class="navigation">
  {{# page_config }}
  {{# active_nav_item }}
  <ul>
    <li class="features{{# features? }} active{{/ features? }}">
      <a href="http://{{ seomoz_host }}/features">Features</a>
    </li>
    <li class="pricing-plans{{# pricing_plans? }} active{{/ pricing_plans? }}">
      <a href="http://{{ seomoz_host }}/plans">Pricing &amp; Plans</a>
    </li>
    <li class="community{{# community? }} active{{/ community? }}">
      <a href="http://{{ seomoz_host }}/community">Community</a>
      <ul>
        <li>
          <a href="http://{{ seomoz_host }}/blog">SEO Blog</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/ugc">YOUmoz User Blog</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/users">Top Users</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/about/events">Events</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/marketplace">SEO Industry Jobs</a>
        </li>
      </ul>
    </li>
    <li class="resources{{# resources? }} active{{/ resources? }}">
      <a href="http://{{ seomoz_host }}/resources">Resources</a>
      <ul>
        <li>
          <a href="http://{{ seomoz_host }}/learn-seo">Learn SEO</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/tools">SEO Tools</a>
        </li>
        <li>
          <a href="http://{{ q_and_a_host }}/q">PRO Q&amp;A Forum</a>
        </li>
      </ul>
    </li>
    <li class="blog{{# blog? }} active{{/ blog? }}">
      <a href="http://{{ seomoz_host }}/blog">Blog</a>
      <ul>
        <li>
          <a href="http://{{ seomoz_host }}/blog">SEO Blog</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/ugc">YOUmoz User Blog</a>
        </li>
      </ul>
    </li>
    <li class="about{{# about? }} active{{/ about? }}">
      <a href="http://{{ seomoz_host }}/about">About</a>
      <ul>
        <li>
          <a href="http://{{ seomoz_host }}/about/team">Mozzers &amp; Mission</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/about/contact">Contact Us</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/about/jobs">Join Our Team</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/about/press">Press &amp; Awards</a>
        </li>
        <li>
          <a href="http://{{ seomoz_host }}/about/seo-events">Events</a>
        </li>
      </ul>
    </li>
  </ul>
  {{/ active_nav_item }}
  {{/ page_config }}

  {{> shared/search_form }}
    
</div>
