<div class="nav-yellow-wrap">
  <div class="nav-yellow inner-content clearfix">
    <div class="s_form2">
      <input type="text" class="s_field_yellow" />
      <input value="" type="submit" class="btn-search" />
    </div>
    <ul>
      <li class="active">
        <a href="#">Features</a>
        <img alt="" src="/images/moz_nav/active-nav.png?{{ cache_buster }}" class="nav-yellow-active" />
      </li>
      <li>
        <a href="#">Pricing&amp;Plans</a>
      </li>
      <li>
        <a href="#">Community</a>
      </li>
      <li>
        <a href="#">LearnSEO</a>
        <div class="sub-nav-yellow">
          <ul>
            <li>
              <a href="#">Campaign</a>
            </li>
            <li>
              <a href="#">Rankings
                <img alt="" src="/images/moz_nav/new-icon.png?{{ cache_buster }}" />
              </a>
            </li>
            <li>
              <a href="#">Crawl Diagnostics</a>
            </li>
            <li>
              <a href="#">On-page</a>
            </li>
            <li>
              <a href="#">Link Analysis</a>
            </li>
            <li>
              <a href="#">Traffic Data</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </div>
</div>

