<div class="top-links">
  <ul class="clearfix">
    <li class="dropdown">
      <a href="#">Help Me
        <img alt="" src="/images/moz_nav/dropdown-yellow.png" />
      </a>
      <div class="help-menu">
        <ul>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Feedback</a>
          </li>
          <li>
            <a href="#">Request a Feature</a>
          </li>
          <li class="last">
            <a href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">SignUp</a>
    </li>
    <li class="dropdown">
      <a href="#">My Profile
        <img alt="" src="/images/moz_nav/dropdown-yellow.png" />
      </a>
      <div class="help-menu">
        <ul>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Feedback</a>
          </li>
          <li>
            <a href="#">Request a Feature</a>
          </li>
          <li class="last">
            <a href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

