<ul>
  <li>
    <a href="http://{{ seomoz_host }}/blog">SEO Blog</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/ugc">YOUmoz User Blog</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/users">Top Users</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/about/events">Events</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/marketplace">SEO Industry Jobs</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/about">About SEOmoz</a>
  </li>
</ul>