<ul>
  <li>
    <a href="http://{{ seomoz_host }}/webinars">PRO Webinars</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/store/4">PRO Training DVDs</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/mozcon">MozCon Seattle Seminar</a>
  </li>
  <li>
    <a href="http://guides.seomoz.org/beginners-guide-to-search-engine-optimization">Beginner's Guide</a>
  </li>
  <li>
    <a href="http://{{ seomoz_host }}/blog/category/37">Videos</a>
  </li>
  <li>
    <a href="http://{{ q_and_a_host }}/q">Q&amp;A</a>
  </li>
</ul>
