<li class="research-tools">
	<a href="http://{{ seomoz_host }}/tools">Research Tools</a>
	<div class="sub-nav">
		<div class="sub-nav-top">
			<ul>
				<li>
					<a href="#">Overview</a>
				</li>
				<li>
					<a href="#">Rankings</a>
				</li>
				<li>
					<a href="#">Crawl Diagnostics</a>
				</li>
				<li>
					<a href="#">On-page</a>
				</li>
				<li>
					<a href="#">Link Analysis</a>
				</li>
				<li>
					<a href="#">Labs Tools</a>
				</li>
			</ul>
		</div>
	</div>
</li>
