<p>
  This is the index page.
</p>

<div>
  Example states:

  <ul>
    <li><a href="/logged_out">Logged Out</a></li>
    <li><a href="/free_logged_in/42">Logged in as free user 42</a></li>
    <li><a href="/pro_logged_in/23">Logged in as pro user 23</a></li>
    <li><a href="/campaigns/1">Viewing campaign 1</a></li>
  </ul>
</div>